.linearButton {
  border: none;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(90deg, #3f41c4 0%, #599ef7 100%);
  transition: all 0.14s ease-in-out;
  line-height: 1;
}
.large {
  width: 240px;
  height: 52px;
  border-radius: 52px;
  font-size: 18px;
}
.default {
  width: 94px;
  height: 36px;
  border-radius: 6px;
}
