.connectionInfoComplete {
  .title {
    margin-top: 30px;
    text-align: center;
    .icon {
      margin-right: 10px;
    }
  }
  .messageBox {
    margin-top: 40px;
    font-size: var(--font-size-small);
    .syncProgress {
      display: flex;
      justify-content: space-between;
      align-items: center;
      :global(.ant-progress-inner) {
        border-radius: 3px;
      }
      :global(.ant-progress-bg) {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      :global(.ant-progress-text) {
        position: absolute;
        left: calc(50% - 28px);
        top: 50%;
        transform: translateY(-50%);
      }
      .stopBtn {
        margin-left: 32px;
      }
    }
    .syncStatus {
      padding: 7px;
    }
    &.syncing {
      color: var(--color-process);
    }
    &.success {
      color: var(--color-success);
    }
    &.warning {
      color: var(--color-warning);
      background-color: var(--color-warning-light);
    }
    &.failed {
      color: var(--color-error);
      background-color: var(--color-error-light);
    }
  }
  .form {
    margin-top: 24px;
    .host {
      display: flex;
      justify-content: space-between;
    }
  }
  .operates {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    .cancelBtn {
      width: 94px;
      margin-right: 20px;
    }
  }
}
