.connectionInfoComplete {
  .title {
    margin-top: 44px;
    text-align: center;
    svg {
      font-size: 40px;
    }
    span {
      font-weight: 500;
      font-size: var(--font-size-largest);
    }
  }
  .form {
    margin-top: 24px;
    .host {
      display: flex;
      justify-content: space-between;
    }
  }
  .operates {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    .cancelBtn {
      width: 94px;
      margin-right: 20px;
    }
  }
}
