.iconBox {
  display: inline-flex;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  .iconfont {
    width: 1em;
    height: 1em;
    fill: currentColor;
    line-height: 1;
    vertical-align: middle;
  }
  .iconText {
    margin-left: 6px;
    line-height: 1;
    vertical-align: middle;
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--text-color-secondary) !important;
  }
}
.pointer {
  cursor: pointer;
}

.hover {
  &:hover {
    color: var(--color-primary);
  }
}
