.knowledgeDetail {
  .container {
    margin: 0 auto;
    width: 75%;
    .detailInfo {
      .infoLabel {
        display: flex;
        margin-top: 28px;
        font-size: var(--font-size-extra-larger);
        .label {
        }
        .value {
        }
      }
    }
    .filesInfo {
      margin-top: 40px;
    }
  }
}
