.light {
  // 主色
  --color-primary: #3d7beb;
  --color-primary-light: #6395ef;
  --color-primary-lighter: #ebf1fc;
  --color-primary-dark: #3062bc;
  --color-primary-darker: #24498d;

  // 辅助色
  --color-success: #0ab460;
  --color-success-light: #e6f7ef;

  --color-warning: #f97a0a;
  --color-warning-light: #fef1e6;

  --color-error: #f52d2f;
  --color-error-light: #f75759;

  --color-info: #b1b1b1;

  // 文字
  --text-color-primary: #3d3d4f;
  --text-color-regular: #1c1c21;
  --text-color-secondary: #afafc4;
  --text-color-placeholder: #b5b5b5;
  --text-color-extra-light: #cccdd0;

  // 边框
  --border-color-base: #f0f0f2;
  --border-color-light: #1c1c21;
  --border-color-lighter: #e9edf3;
  --border-color-extra-light: #eff2f7;

  // 背景色
  --bg-color-nav: #3a3c41;
  --bg-color-cell: #ededff;
  --bg-color-active: #fafafc;
  --bg-color-hover: #f0f3fb;
  --bg-color-hover-darker: #e0e3eb;
  --bg-color-main: #ffffff;
  --bg-color-main-invert: #454648;
  --bg-color-disabled: #f2f2f2;
  --bg-color-popover: #ffffff;

  // 投影
  --box-shadow-base: 2px 0px 8px 0px rgba(110, 105, 105, 0.05);
  --box-shadow-hover: 0px 2px 6px 0px rgba(218, 222, 236, 0.4);
  --box-shadow-active: 0px 0px 0px 2px rgba(204, 209, 224, 0.2);

  --box-shadow-error: 0px 0px 0px 2px rgba(245, 45, 47, 0.2);
}
